<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual instrument</title>
     <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


<body>
    <div>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


    <div class="title">
        <p id="appTitle">Hand Therapy</p>
    </div>
    <div class="option">
        <div class="selectpage">
            <p id="pageicon">
                <a class="material-icons md-48" href="{{('main')}}" style="color: white;">mouse</a>
                <a class="material-icons md-48" href="{{('keyboard') }}" style="color: white;">keyboard</a>
                <a class="material-icons md-48" href="{{('clicks')}}" style="color: white;text-decoration: underline #ff8ca9 3px;">sports_esports</a>
                <a class="material-icons md-48" href="{{('lesson')}}" style="color: white;">waving_hand</a>
            </p>
        </div>
        <div class="settingform">

            <div class="set">
                <div class="custom-select" id="set1" style="width:200px;">
                    <select name="sound" id="sound">
                        <option value="sound">Select sound:</option>
                        <option value="Synth">Synth</option>
                        <option value="AMSynth">AMSynth</option>
                        <option value="DuoSynth">DuoSynth</option>
                        <option value="FMSynth">FMSynth</option>
                        <option value="MembraneSynth">MembraneSynth</option>
                    </select>

                </div>

                <div class="custom-select" id="set2" style="width:200px;">
                    <select name="hand" id="hand">
                        <option value="hand">Select hand:</option>
                        <option value="0">กำมือ</option>
                        <option value="1">ไล่นิ้วชี้</option>
                        <option value="2">ไล่นิ้วกลาง</option>
                        <option value="3">ไล่นิ้วนาง</option>
                        <option value="4">ไล่นิ้วก้อย</option>
                    </select>
                </div>

                <div class="custom-select" id="set3" style="width:200px;">
                    <select name="song" id="song" onchange="song()">
                        <option value="song">Select song:</option>
                        <option value="jinglebell">jingle bells</option>
                        <option value="HBD">happy birthday</option>
                        <option value="christmas">merry christmas</option>
                        <option value="twinkle">twinkle little star</option>
                    </select>
                </div>
                <!-- <button onclick="song()">play</button> -->
            </div>


        </div>
        <div class="buttonblock">
            <button class="button62" onclick="handingchange()">Play</button>
        </div>

    </div>

    <div id="camera">
         <img id="camerauser" style="-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 25%);display: block;margin-left: auto;margin-right: auto;"  src="{{ url_for('video_feed') }}">
            </div>

    <p id="demo" style="color: white;"></p>
    <div class="piano">
        <div class="keytype">
            <canvas id="Q"></canvas>
            <canvas id="W"></canvas>
            <canvas id="E"></canvas>
            <canvas id="R"></canvas>
            <canvas id="T"></canvas>
            <canvas id="Y"></canvas>
            <canvas id="U"></canvas>
            <canvas id="D"></canvas>
            <canvas id="F"></canvas>
            <canvas id="G"></canvas>
            <canvas id="H"></canvas>
            <canvas id="J"></canvas>
            <canvas id="K"></canvas>
            <canvas id="L"></canvas>
            <canvas id="M"></canvas>

        </div>
        <div class="key">
            <canvas class="note" id="C1" data-note="C3" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="D1" data-note="D3" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="E1" data-note="E3" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="F1" data-note="F3" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="G1" data-note="G3" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="A1" data-note="A3" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="B1" data-note="B3" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="C2" data-note="C4" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="D2" data-note="D4" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="E2" data-note="E4" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="F2" data-note="F4" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="G2" data-note="G4" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="A2" data-note="A4" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="B2" data-note="B4" onclick="noteDown(this)"></canvas>
            <canvas class="note" id="C3" data-note="C5" onclick="noteDown(this)"></canvas>
        </div>
    </div>
    <script>
        function handingchange() {
            var handing = document.getElementById("hand").value;
            if (handing == "0"){
                var camerauser = document.getElementById("camerauser");
                camerauser.src = "{{ url_for('video_feed') }}"
            }else if (handing == "1"){
                var camerauser = document.getElementById("camerauser");
                camerauser.src = "{{ url_for('video_feed_index') }}"
            }else if (handing == "2"){
                var camerauser = document.getElementById("camerauser");
                camerauser.src = "{{ url_for('video_feed_middle') }}"
            }else if (handing == "3"){
                var camerauser = document.getElementById("camerauser");
                camerauser.src = "{{ url_for('video_feed_ring') }}"
            }else if (handing == "4"){
                var camerauser = document.getElementById("camerauser");
                camerauser.src = "{{ url_for('video_feed_little') }}"
            }
            console.log(handing);
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/tone@14.7.77/build/Tone.js"></script>
    <script src="{{url_for('static', filename='js/tone_onclick.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/click.js')}}"></script> -->
    <script src="{{url_for('static', filename='js/select.js')}}"></script>
</body>

</html>